html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
}

div {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    width: 50%;
    height: auto;
}


/* PHONE SIZE */


@media (max-width: 800px) {

    img {
        width: 90%;
    }


}